[dir='rtl'] {
  // Inversions générales
  .rtl-mirror {
    transform: scaleX(-1);
  }

  // Marges et paddings
  .ml-auto {
    margin-left: initial !important;
    margin-right: auto !important;
  }

  .mr-auto {
    margin-right: initial !important;
    margin-left: auto !important;
  }

  // Bordures
  .border-l {
    border-left: none !important;
    border-right: 1px solid var(--color-border) !important;
  }

  .border-r {
    border-right: none !important;
    border-left: 1px solid var(--color-border) !important;
  }

  // Positions
  .left {
    left: initial !important;
    right: 0 !important;
  }

  .right {
    right: initial !important;
    left: 0 !important;
  }
}
