@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../../public/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../../public/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../public/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../../../public/fonts/Montserrat-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../../../public/fonts/Nunito-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../../../public/fonts/Nunito-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url('../../../public/fonts/Nunito-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../../public/fonts/Nunito-Medium.ttf');
  font-weight: 500;
}
